@font-face {
	font-family: Princetown ICG;
	src: url('C:\Users\edoardo\Desktop\Princetown ICG.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('general-lee-cars-.jpg');
    background-size:cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#color {
    border-radius: 10px;
    height: 140px;
    text-align: center;
    border: solid;
    border-color: black;

    background-color: #ff6a00;
    color: black;
    font-size:75px;
    text-decoration:double white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-family: 'Princetown Solid-Normal';
}

@font-face {
    font-family: 'Princetown Solid-Normal';
    src: url('Princetown Solid-Normal.ttf') format('truetype');
}



@font-face {
    font-family: 'Princetown ICG';
    src: url('Princetown ICG.ttf') format('truetype');
}

.table {
    border-radius: 10px;
    border: solid;
    border-color: black;
    padding-left: 20px;
    padding-top: 10px;
    height: 200px;
    background-size: cover;
    color: #ffffff;
    font-family: 'Princetown ICG';
    text-decoration: double black;
    font-size: 25px;
    background-image: url('conf flag 3.jpg');
}

h2{
    font-family: 'Princetown ICG';
    color: #ff6a00;
    on
}

h2:hover { 
    color: #37715d;
}